html,
body {
    padding: 0;
    margin: 0;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

*:focus {
    outline: 0 !important;
    width: 0;
}

* {
    box-sizing: border-box;
}

.nav {
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 100 !important;
    /* background-color: rgba(235, 235, 235, 0.9);*/
    border-bottom: 1px solid lightgray;
    background-color: #fff;
}

.post_body>* {
    font-family: "Helvetica Neue";
}

.post_body a {
    /* color: rgb(95, 95, 223); */
    color: #48bb78;
}

.post_body a:hover {
    color: #38a169;
}

.post_body h1 {
    font-size: 40px;
}