@font-face {
    font-family: "Nicholas";
    src: url("../../fonts/Nicholas/Nicholas_Bold.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

*:focus {
    outline: 0 !important;
    width: 0;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

* {
    box-sizing: border-box;
}

.nav {
    position: sticky;
    top: 0;
    margin: 0;
    z-index: 100 !important;
    /* background-color: rgba(235, 235, 235, 0.9);*/
    border-bottom: 1px solid lightgray;
    background-color: #fff;
}


/* #nprogress .bar {
    background: #000 !important;
} */


/* -------------- RESPONSIVE MEDIA QUERIES ------------------*/


/* 
@media only screen and (max-width: 1336px) {
    .rec_list,
    .group_list,
    .middle_list {
        background-color: red;
    }
} */

@media only screen and (max-width: 1080px) {
    .rec_list {
        display: none;
    }
    .group_list {
        width: 40vw !important;
        margin-right: -100px !important;
    }
    .middle_list {
        width: 58vw !important;
    }
}

@media only screen and (max-width: 700px) {
    .group_list {
        display: none;
    }
    .nav_icon {
        margin-left: 10px !important;
    }
    .middle_list {
        width: 95vw !important;
    }
}

@media only screen and (max-width: 900px) {
    .group_list {
        display: none;
    }
    .nav_icon {
        margin-left: 10px !important;
    }
    .middle_list {
        width: 95% !important;
    }
    .middle_list .mid_card {
        margin-right: 30px !important;
        align-self: center;
    }
    .search-input {
        width: 69% !important;
        min-width: 583px !important;
    }
}


/* -------------- END RESPONSIVE MEDIA QUERIES ------------------*/