.hero {
    padding: 10vh;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid lightgray; */
}

.hero .text {
    width: 35vw;
    margin-right: 40px;
}

.hero .img {
    width: 50vw;
    margin-left: 40px;
}

.intro {
    line-height: 65px;
}

.hero .img {
    border-radius: 0.4rem;
    border: 1px solid lightgray;
}

@media only screen and (max-width: 1040px) {
    .hero {
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px;
    }
    .intro {
        line-height: 50px;
    }
    .hero .text {
        width: 500px;
    }
    .intro {
        font-size: 40px !important;
    }
    .hero .img {
        width: 500px;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .hero {
        justify-content: left;
        padding: 10px;
    }
    .intro {
        font-size: 35px !important;
        line-height: 45px;
    }
    .hero .img {
        margin: 0;
        padding: 0;
    }
}