.post_body>* {
    font-family: "Helvetica Neue";
}

.post_body a {
    /* color: rgb(95, 95, 223); */
    color: #48bb78;
}

.post_body a:hover {
    color: #38a169;
}

.post_body h1 {
    font-size: 40px;
}

.post_body h1 {
    font-weight: 500;
}

.post_body code,
pre {
    font-family: "Menlo" !important;
    background-color: #efefef;
    margin: 5px !important;
    padding: 2px 5px;
    overflow-y: auto;
    border-radius: 0.2rem;
}