.usage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usage .use {
    border: 1px solid lightgray;
    padding: 18px;
    background-color: #fff;
    border-radius: 0.4rem;
    margin: 0px 15px;
    opacity: 1;
    transition: all 0.2s ease;
}

@media only screen and (max-width: 980px) {
    .usage {
        flex-wrap: wrap;
    }
    .usage .use {
        padding: 20px;
        width: 90%;
        margin-top: 30px;
    }
}