.usage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usage .use {
    padding: 18px;
    background-color: #fff;
    border-radius: 0.4rem;
    margin: 0px 15px;
    opacity: 1;
    transition: all 0.2s ease;
}

.usage .use:hover {
    background-color: #f3f3f3;
}

.use_divider {
    display: none !important;
    width: 60vw !important;
    border-color: gray !important;
}

@media only screen and (max-width: 980px) {
    .usage {
        flex-wrap: wrap;
    }
    .usage .use {
        padding: 20px;
        width: 90%;
        margin: 30px 10px;
    }
    .use_divider {
        display: block !important;
    }
}